// Place all the styles related to the pc::procedures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  tr th, tr td { text-align: center; }
}

#procedure-stage-panel {
  margin-bottom: 60px;
  border-radius: 0px;
  .form-group, .table {
    margin-bottom: 0px;
  }
  .panel-heading .table {
    td {
      border-top: 0px;
      padding: 0px 8px 0px 8px;
    }
  }
  .panel-body {
    padding: 0px;
  }
  tbody {
    border-top: 0px;
  }
  .panel-heading {
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }
  td input.form-control, td textarea.form-control {
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0px;
    box-shadow: none;
  }
}

#new-procedure-panel {
  .panel-heading h2 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}