@import "variable";

table#pc_stock_table {
  width: $pc_table_width;

  tbody td.xsCell,
  thead th.xsCell {
    width: 0.5*$pc_table_width/16;
  }

  thead th.smCell {
    width: 1.3*$pc_table_width/16;  
  }

  tbody td.smCell {
    width: 1*$pc_table_width/16 !important;
  }

  tbody td.lgCell,
  thead th.lgCell {
    width: 3.5*$pc_table_width/16;
    padding-right: 0px;
    textarea {width: 100%;}
  }
}