<%= form_tag(search_procedures_path, method: "get", :class => "navbar-form pull-left") do %>
  <div class="input-group">
    <%= text_field_tag :q, params[:q], :class => "form-control", :placeholder => 'Search', :autofocus => 'true', :onClick => "this.select();" %>
    <div class="input-group-btn hidden" id="searchBtn">
      <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
        <span class="glyphicon glyphicon-search"></span>
      <% end %>
    </div>
  </div>
<% end %>