%table.table.table-hover.stock-detail
  %thead
    %tr
      %th 圖號
      %th 成品
      %th 半成品
  %tbody
    - @items.each do |item|
      %tr
        %td.picnum=link_to raw(break_into_lines(item.picnum)), item_path(item)
        %td.finished= item.finished
        %td.finished= item.unfinished