<td class="lgFont" style="text-align:right !important;">
    <% comment do %>
        <%= link_to edit_item_path(item) do %>
            <span id="apple"></span>
        <% end %>
    <% end %>
    <span><%= params[:search] ? emphasizePicnum(item.picnum,params[:search])  : formatPicnum(item.picnum) %></span>
</td>