<!-- Postcontent
============================================= -->
<div class="divcenter nobottommargin nopadding">

    <h1>編輯項目</h1>
    <%= render 'items/partial/form' %>

</div><!-- .postcontent end -->