%tr.nested-fields.well
  /= f.input :arrival_date, as: :date_picker
  = f.input :factory_name, required: true
  = f.input :note
  /= f.input :aasm_state
  %td{ style: 'vertical-align: middle;' }
    = link_to_remove_association f do 
      %i.fa.fa-times{ style: 'font-size: 26px; vertical-align: middle;' }

:coffee
  console.log 'embbed'