%table.table#stages
  %thead
    %tr
      - I18n.with_options(scope: 'activerecord.attributes.stage') do |i18n|
        %th= i18n.t :factory
        %th= i18n.t :note
        %th
  %tbody{ style: 'border-top: 0px;' }
    = f.simple_fields_for :stages, wrapper: :horizontal_table_form do |ff|
      = render 'new_stage_fields', f: ff
