%tr.nested-fields.well
  = f.input :arrival_date
  = f.input :factory_name
  = f.input :note
  %td{ style: 'vertical-align: middle;' }
    = link_to_remove_association f do 
      %i.fa.fa-times{ style: 'font-size: 26px; vertical-align: middle;' }