%table.table#stages
  %thead
    %tr
      %th arrival_date
      %th factory
      %th action
  %tbody{ style: 'border-top: 0px;' }
    = f.simple_fields_for :stages, wrapper: :horizontal_table_form do |stage|
      = render 'stage_fields', f: stage
