.panel.panel-default#new-procedure-panel
  .panel-heading{ style: 'background-color: orange;' }
    %h1.text-center= t '.title'
  .panel-body
    .container= render 'form'

.center
  = link_to 'Show', @procedure
  \|
  = link_to 'Back', procedures_path
