/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require dark
 *= require font-icons
 *= require animate
 *= require magnific-popup
 *= require responsive
 *= require_tree .
 */
@import 'variable';

 #itemForm > div > label {
    font-size: 20px;
    font-weight: 500;
 }

input[type="file"] {
    display: none !important;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 10px 12px;
    cursor: pointer;
}

#apple {
    background-image: image-url('Fish.png') !important;
    background-size: cover;
    //background-repeat: no-repeat;
    padding: 15px 25px;
}

body.white {
    mark {
        background-color: #FFD700 !important;
    }
}

#top-search a {
    font-size: 40px !important;
    .icon-line-cross {font-size: 40px !important;}
}

#primary-menu ul li a {
    font-size: 20px !important;
    font-weight: 400 !important;
}


 /* Modifying Header Height */
#header,
#header-wrap,
#logo,
#logo img,
#primary-menu:not(.style-2),
#primary-menu:not(.style-2) > ul,
#primary-menu,
#primary-menu ul,
#primary-menu ul li a { height: 80px !important; }

#primary-menu ul li a { line-height: 80px !important; }

#primary-menu ul li i { line-height: 79px !important; }

#primary-menu ul ul,
#primary-menu ul li .mega-menu-content,
#primary-menu ul li.mega-menu .mega-menu-content { top: 80px; }

#primary-menu.sub-title ul li a { padding: 27px 20px 32px; }

#top-search,
#top-cart { margin: 25px 0 40px 15px !important; }

@media (max-width: 991px) {
    #primary-menu-trigger { top: 25px; }
    #top-search a { margin-top: 40px; }
    #top-search form { height: 80px !important; }
}
 /* Modifying Header Height END*/