@import "variable";

/* 為庫存表的預先準備，放在這裡方便不載入stock_table.scss時自動失效 */
/* 也可利用action name控制class的載入 */


/* 庫存表css專區 */
table.scroll {
    width: $tableWidth; /* 3*lgCell + 4*smCell + 16px scrollbar width */
    border-spacing: 0;
    font-size: 24px;
    margin-left: 10px;

    thead { border: 2px solid black; }
}

table.scroll tbody,
table.scroll thead tr { display: block; }

table.scroll tbody {
    height: 770px;
    overflow-y: auto;
    overflow-x: hidden;
    form {margin-bottom: 0px;}
}

table.scroll tbody td {
    border-bottom: 1px solid #555;
    padding: 10px 5px;
    input { text-align: center; }
}

table.scroll tbody td.xsCell,
table.scroll thead th.xsCell {
    width: 0.5*$tableWidth/16;
}

table.scroll thead th.smCell {
    width: 1.3*$tableWidth/16;  
}

table.scroll tbody td.smCell {
    width: 1*$tableWidth/16 !important;
}

table.scroll tbody td.lgCell,
table.scroll thead th.lgCell {
    width: 3.5*$tableWidth/16;
    padding-right: 0px;
    textarea {width: 100%;}
}

table.scroll thead th:last-child {
    width: 0.5*$tableWidth/16; /* 140px + 16px scrollbar width */
}

table.scroll thead th.scrollbar {
    width: 0.5*$tableWidth/16 + 16px; /* 140px + 16px scrollbar width */   
}

thead tr th:first-child {
    padding-left: 5px;
}

thead tr th { 
    height: 30px;
    line-height: 30px;
    /*text-align: left;*/
}

tbody {
    border-top: 2px solid black;
}

tbody td:last-child, thead th:last-child {
    border-right: none !important;
}

body.white {
    table.scroll {
        th, td {
            color: black !important;
            font-weight: 400 !important;
        }
    }
    table.scroll > tbody > tr:hover > td {
        //background-color: #b3e5fc !important;
        background-color: none !important;
        //border: 3px solid black !important;
    }
    table.scroll > tbody > tr:hover {
        box-shadow: inset 0px 0px 0px 5px rgba(0, 206, 209, 0.7);
        //border: 6px solid darkturquoise !important;
    }
}

body.dark {
    table.scroll {
        th, td {
        color: white !important;
        font-weight: 400 !important;
        }
        td > input,textarea {background-color: #222;}
    }
    .table-hover > tbody > tr:hover > td {
        box-shadow:1px 1px 3px 2px rgba(40%,20%,20%,0.5);
    }
}


/* image button for link to editing item */
#apple {
    background-image: image-url('Fish.png') !important;
    background-size: cover;
    //background-repeat: no-repeat;
    padding: 15px 30px;
}

/* 庫存表css專區結束 */